
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
</head>

<body>
    <h1>Registrar nuevo </h1>

    <form action="acciones/guardar.php" method="post">
        <div>
            <label for="nombreInput">Ingrese elproducto</label>
            <input type="text" name="nombreInput" id="valueInput" required>
        </div>
        <div>
            <label for="cantidadInput">Ingrese la cantidad</label>
            <input type="number" name="cantidadInput" id="cantidadInput" required>
        </div>

          <div>
            <label for="precio_unitarioInput">Ingrese el precio unitario</label>
            <input type="number" name="precio_unitarioInput" id="precio_unitarioInput" required>
        </div>

        <div>
            <button type="submit">Guardar</button>
        </div>
    </form>
    <div>
    <a href="../menuPrincipal.php">Volver</a>
    </div>
</body>
</html>
